/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
body {
  font-family: Montserrat, 'Helvetica Neue', sans-serif;
  background-color: #F6F5F3;
}

/* Utils */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #FFFFFF;
  padding: 10px;
  text-align: center;
}

header h1 {
  font-size: 24px;
  color: #FF9614;
  text-transform: uppercase;
  font-family: 'Nerko One', cursive;
}

.recipe-header h2 {
  padding-top: 1rem;
  color: grey;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 17px;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.rating h2 {
  color: #4E3969;
  font-weight: bold;
  text-transform: none;
  font-size: 22px;
  padding-top: 0;
}

.rating-info {
  display: flex;
  align-items: center;
}

.rating-info span {
  font-size: 18px;
  margin-right: 10px;
}

.rating-info button {
  background-color: #FFA500;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.video-container iframe {
  width: 100%;
  height: 200px;
}

.col {}

.recipe-info {
  background-color: #e3e2e2;
  padding: 15px;
  margin-bottom: 20px;
}

.purple {
  color: white;
  background-color: #7B69A2;
  padding: 2px;
  border-radius: 4px;
}

.orange {
  color: #FFA500;
}

.info-up {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid grey;
  padding-bottom: 15px;
}

.info-down {
  margin-top: 20px;
}

.marg-bot-20 {
  margin-bottom: 20px;
}

.marg-rig-5 {
  margin-right: 5px;
}