/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
body {
  font-family: Montserrat, 'Helvetica Neue', sans-serif;
  /* background-color: #F6F5F3; */
}

main {
  background-color: #F6F5F3;
  padding: 20px;
  min-height: calc(100vh - 70px);
}

/* Utils */
.container {
  max-width: 1080px;
  margin: 0 auto;
  /* padding: 20px; */
}

/* Header */
#head {
  height: 70px;
  padding: 0 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#head h1 {
  color: #f7972e;
}

/* Recipe */
.recipe header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.recipe-category {
  text-transform: uppercase;
  font-size: 13px;
  color: #999;
  font-weight: 100;
}

.recipe-name {
  color: #4e3969;
  font-weight: 800;
}

.recipe-origin {
  display: none;
}

.recipe-rating {
  display: flex;
  align-items: center;
}

.recipe-rating i {
  margin-right: 5px;
}

.recipe-rating span {
  margin-right: 10px;
}

.fa-star {
  color: #f7972e;
}

.rate-btn {
  border: 0;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #f7972e;
  color: #fff;
  box-shadow: 0 5px 10px rgb(45 34 60 / 12%);
}

.recipe-title {
  flex-basis: 85%;
}

.recipe-card {
  background-color: white;
  border-radius: 3px;
  margin-bottom: 30px;
  box-shadow: 0 5px 10px rgb(45 34 60 / 12%);
}

.recipe-video {
  height: 50vw;
}

.recipe-video iframe {
  border: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.recipe-info {
  padding: 30px;
}

/* Paper */
.paper {
  padding: 15px;
  background-color: #f6f5f9;
}

.paper-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calories {
  background-color: #7B69A2;
  color: white;
  border-radius: 10%;
  padding: 4px;
}

.info {
  color: #f7972e;
  font-weight: bold;
}

.paper-bottom {
  margin-top: 10px;
  font-size: 14px;
}

/* Notes */
.notes {
  margin-top: 30px;
}

.notes li {
  font-size: 14px;
  margin: 15px 0;
  list-style-type: none;
}

.notes li::before {
  color: #f7972e;
  font-weight: 900;
  margin-right: 5px;
  font-family: 'Font Awesome 5 Free';
}

.blender::before {
  content: '\f517';
}

.clock::before {
  content: '\f017';
}

.pie::before {
  content: '\f200';
}

.cost::before {
  content: '\f153';
}

.pin::before {
  content: '\f08d';
}

/* Social Networks */
.social-networks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 10px;
}

.social-networks button {
  box-shadow: 0 5px 10px rgb(45 34 60 / 12%);
}

.social-networks .label {
  display: none;
}

.btn {
  border: 0;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #fff;
}

button i {
  font-size: 20px;
}

.fa-facebook {
  color: #1a77f3;
}

.fa-twitter {
  color: #009EFF;
}

.fa-instagram {
  color: #ff1a1a;
}

.fa-pinterest {
  color: #ff0505;
}

.fa-youtube {
  color: #ff1a1a;
}

/* Advertising */
.adv {
  display: none;
  margin: 30px auto;
}

.adv img {
  max-width: 100%;
}

/* Footer */
footer {
  padding: 20px;
  min-height: 80px;
  font-size: 0.8rem;
  color: #FFF;
  background-color: #7c69a4;
  text-align: center;
}

footer address {
  margin-bottom: 20px;
}

footer address b,
footer address p {
  display: block;
  margin-bottom: 10px;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

footer ul li {
  margin: 10px 0;
}

footer ul li a {
  color: #FFF;
  /* text-decoration: none; */
  padding: 10px 10px;
}


/* Presentation */
.presentation h1 {
  position: relative;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 50px;
}

.presentation p {
  margin-top: 20px;
  line-height: 2rem;
}

.presentation hr {
  width: 80px;
  border: 0;
  height: 2px;
  background-color: #f7972e;
  margin-top: 10px;
}

.presentation img {
  max-width: 300px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 0 5px 10px rgb(45 34 60 / 12%);
}

/* Clearfix */
.clearfix::after {
  display: table;
  content: '';
  clear: both;
}